.weather {
    place-self: center;
    padding: 20px;
    background-image: linear-gradient(45deg, #4FCC86, #4FCCA3);
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px
}

.search-bar input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 15px;
    padding-right: 45px; /* Adjust the padding to make space for the icon */
    color: #626262;
    background: #f5fffa;
    box-sizing: border-box;
    align-items: center;
}
.search-bar img {
    position: absolute;
    right: 22px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background: #f5fffa;
    cursor: pointer;
}
.weather-icon {
    width: 150px;
    margin: 5px 0;
}
.temperature {
    color: #fff;
    line-height: 1;
    font-size: 70px;

}
.location {
    color: #fff;
    font-size: 35px;
}
.weather-data {
    width: 100%;
    margin-top: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;

}
.weather-data .col span{
    display: block;
    font-size: 12px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}
.white-icon {
    filter: invert(100%)
}